<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/index.css" rel="stylesheet">    
    <title>{% block pageTitle %}{% endblock %} - Pokedex</title>
</head>
<body>
    <script>
        function setApiContent(url, domElementId) {
            const domElement = document.getElementById(domElementId);

            fetch(url).then(async (response) => {
                const html = await response.text()

                domElement.insertAdjacentHTML('beforeend', html)
            })
        }
    </script>
    <div class="h-screen bg-gray-100">
        {% block content %}{% endblock %}
    </div>
</body>
</html>